 <mat-toolbar class="color" >
  
   <!--<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     <mat-icon>menu</mat-icon>
   </button>-->

    <button mat-button routerLink="/adopcion">Adopcion</button>
    <button mat-button routerLink="/donaciones">Donaciones</button>
    <span >Bei Baffi</span>
    <button mat-button routerLink="/nosotros">Sobre nosotros</button>
    
    <button mat-button routerLink="/contacto">Contacto</button>
    <span class="example-spacer"></span>

    </mat-toolbar>